attrs==19.3.0
Scrapy==2.10.0
Twisted==20.3.0
lxml==4.6.3
pyOpenSSL==21.0.0
cssselect==1.1.0
parsel==1.6.0
w3lib==1.22.0
service-identity==18.1.0
queuelib==1.6.1
itemadapter==0.2.0
itemloaders==1.0.4
jmespath==0.10.0
zope.interface==5.4.0
Protego==0.1.16
PyDispatcher==2.0.5

